{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>PixADA</title>
    <meta charset="UTF-8"> <!--Añade formato al texto, perfecto para evitar problemas con "ñ" o "á"-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Ajusta la escala de la página con el dispositivo-->
    <!-- Se entiende que buscas con esta sección, nomás no es necesaria, solo sirve como apoyo
    a la hora de aparecer en buscadores de navegador, y no creo que pase de fase de desarrollo,
    pero excelente investigación Maca -->
    <meta name="description" content="foro de equidad de genero">
    <meta name="author" content="Los pixis">
    <meta name="Keywords" content="foro, equidad de genero, mujeres, ayuda, apoyo">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body class="{% if loggeado and usuario.yanMode %}dyslexic {% else %}regular {% endif %}">
<span class="index">
    <h1>PixADA<br>
    El foro de equidad de género </h1>
    {% if loggeado %}
        <p>
            Bienvenida de vuelta! {{ usuario.nombre }}
            {% if usuario.rol == 'adm' %}<br><em style="color: red;">STAFF: ADMIN</em>
            {% elif usuario.rol == 'mod' %}<br><em style="color: yellow;">STAFF: MOD</em>{% endif %}
            <br><br><a class="button" href="{% url 'foro' %}">Ir al foro</a>
        </p>
            
        
        <h1>Bienvenid@ a Pix Ada</h1>
        <p>Te presentamos <strong>Pix Ada</strong>, un entorno donde se pueden compartir ideas, experiencias y aprendizajes desde la horizontalidad. Todas las voces valen, sin importar la proveniencia. Deseamos la seguridad de todos nuestros usuarios y que se sientan incluidos, especialmente las mujeres y personas de género no binario que quieran expresarse y conectar con otras personas.</p>
    
        <p>Para que todo esto funcione y se pueda disfrutar de un entorno seguro, debes comprometerte a cumplir con tus responsabilidades de usuario:</p>

        
        <span class="indexList-wrapper">
        <ul>
            <li><strong>Respeto ante todo:</strong> Cada opinión merece ser escuchada sin juicios ni descalificaciones.</li>
            <li><strong>Horizontalidad:</strong> Aquí nadie está “por encima” de nadie; todas y todos aprendemos juntes.</li>
            <li><strong>Honestidad:</strong> Comparte tus ideas y experiencias con transparencia y sinceridad.</li>
            <li><strong>Escucha activa:</strong> Valora lo que otras personas aportan, incluso si piensan distinto.</li>
            <li><strong>Motivación para crecer:</strong> Este es un espacio para inspirarnos mutuamente y construir comunidad.</li>
        </ul>
        </span>
        <p><strong>Te esperamos en Pix Ada y recuerda que “Tu voz sí importa”.</strong></p>
        <p><strong>¡Únete a la conversación y hagamos de Pix Ada un espacio diverso, seguro y lleno de aprendizaje!</strong></p>
        <p>Para más información sobre términos de servicios y condiciones de usuario, visita la siguiente sección de la página web: 
            <!-- hay que poner link que mande pagina de termino y condiciones -->

    {% else %}
        <p>Inicia sesión y comparte con tus pares <br><br>
        <a href="{% url 'login' %}" class="button">Iniciar Sesión</a>
        <br> <br>
        <small>No tienes una cuenta? <a href="{% url 'signin' %}">Crea una</a></small>
        </p>
    {% endif %}
    
</span>
</body>
</html>
