body{
    background-color: #8B94f7;
    }

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 220px;
    background-color: #7D38D0;
    border-right: 2px solid #ddd;
    padding: 20px;
    position: sticky;
    top: 0;
    height: 100vh;
    align-items: center;
}


.sidebar .logo {
    width: 100%;        
    height: auto;       
    border-radius: 12px;
    display: block;     
}

.sidebar .top-line {
    width: 100%;
    height: 2px;
    background-color: #ddd;
    margin: 8px 0 20px 0; 
}

.sidebar .item-left {
    display: block;
    width: 80%;
    margin-bottom: 12px;
    padding: 17px;
    background-color: #afbcfa;
    border-radius: 6px;
    color: #ddd;
    text-decoration: none;
    text-align: center;
    transition: 0.2s;
}

.sidebar .item-left:hover {
    background-color: #9baaf5;
}

.contenido {
    flex: 1;
    padding: 20px;
    }

.top-line {
height: 3px;                 
background-color: #ffffff;   
width: 100%;                 
margin-top: 100px;   
}         



.header::before {
content: "";
display: block;
width: 100%;
height: 3px;               
background-color: #6494fa;
position: absolute;
top: 0;
left: 0;
}

.header {
position: relative;          
background-color: #6494fa;   
border: 4px solid #9c7fff;  
border-radius: 20px;         
padding: 40px 0;            
text-align: center;
box-shadow: 0 4px 15px rgba(156, 127, 255, 0.3);
margin: 50px auto;
width: 100%;
}

.header h1 {
color: white;
font-size: 70px;
margin: 0;
font-weight: bold;
letter-spacing: 3px;
}

.header h2{
color: white;
font-size: 30px;
margin: 0;
font-weight: bold;
letter-spacing: 3px;
}

.subtitulo {
background-color: #AC6CE4;   
border: 4px solid #9c7fff;
padding: 15px 0;
width: 90%;
margin: 50px auto 25px auto;
border-radius: 30px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
text-align: center;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.subtitulo:hover {
transform: translateY(-3px);
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.subtitulo h2 {
text-align: center;
color: #ffffff;
font-size: 40px;
letter-spacing: 1px;    
font-weight: bold;
}

details {
background-color: #afbcfa;
border-radius: 12px;
padding: 18px 22px;
margin: 20px auto;
width: 80%;
max-width: 900px;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
transition: transform 0.2s ease, box-shadow 0.2s ease;
}

details:hover {
transform: translateY(-2px);
box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

summary {
font-weight: bold;
color: #eaf9ff;
cursor: pointer;
font-size: 1.2rem;
list-style: none;
transition: color 0.3s ease;
}


details[open] summary {
color: #ffffff;
}

details p, details ol, details ul {
margin-top: 10px;
margin-left: 20px;
color: #ffffff;
font-size: 1rem;
line-height: 1.6;
}

details ol li, details ul li {
margin-bottom: 6px;
}

details ul {
list-style: none;
}

details ul li::before {
content: "⚠️ ";
color: #ffcc00;  
font-weight: bold;
margin-right: 8px;
}


span {
color: #7c3aed;
font-weight: 600;
}
