/* OpenDyslexic (Web Open) */
@font-face { /* Normal */
    font-family: 'open-dyslexic';
    src:    url("../fonts/OpenDyslexic/OpenDyslexic-Regular.woff") format('woff'),
            url("../fonts/OpenDyslexic/OpenDyslexic-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* It치lica */
    font-family: 'open-dyslexic';
    src:    url("../fonts/OpenDyslexic/OpenDyslexic-Italic.woff") format('woff'),
            url("../fonts/OpenDyslexic/OpenDyslexic-Italic.woff2") format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face { /* Negrita */
    font-family: 'open-dyslexic';
    src:    url('../fonts/OpenDyslexic/OpenDyslexic-Bold.woff') format('woff'),
            url('../fonts/OpenDyslexic/OpenDyslexic-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face { /* Negrita-It치lica */
    font-family: 'open-dyslexic';
    src:    url('../fonts/OpenDyslexic/OpenDyslexic-Bold-Italic.woff') format('woff'),
            url('../fonts/OpenDyslexic/OpenDyslexic-Bold-Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

/* eeeeeeeeeeeee */
@font-face {
    font-family: 'sans-comic';
    src:    url('../fonts/Comic\ Sans\ MS.ttf');
}


/* Formato */
.regular {
    font-family: "Roboto", sans-serif;
}
.dyslexic {
    font-family: 'open-dyslexic', "Roboto", sans-serif;
}

body {
    background-color: #DCE4FB;
    .left-menu {
        background-color: #CEBEDC;
        height: calc(100% - 59px);
        width: 225px;
        z-index: 69; /* Nice */
        bottom: 0;
        left: 0;
        border-right: 4px solid #221E64;
        position: fixed;
        a.item-left {
            display: flex;
            border-bottom: 2px solid #221E64;
            justify-content: left;
            height: 50px;
            align-items: center;
            padding-left: 10px;
            text-decoration: none;
            color: #221E64;
        }
        a.item-left:hover {
            background-color: #DCE4FB;
            cursor: pointer;
        }
    }
    .top-menu {
        background-color: #CEBEDC;
        height: 55px;
        width: calc(100% - 225px - 4px - 55px);
        /* Largo de la pantalla - width del menu izquierdo - borde izquierdo - el bot칩n de signout */
        z-index: 67;
        top: 0;
        right: 55px;
        display: flex;
        border-bottom: 4px solid #221E64;
        position: fixed;
    }
    .title-field {
        background-color: #CEBEDC;
        font-family: 'Roboto', sans-serif;
        color: #221E64;
        display: block;
        left: auto;
        width: 50%;
        height: 25px;
        border-radius: 10px;
        font-size: large;
    }
    .body-field {
        background-color: #CEBEDC;
        font-family: 'Roboto', sans-serif;
        color: #221E64;
        display: block;
        left: auto;
        right: auto;
        width: 75%;
        height: 100px;
        text-align: start;
        border-radius: 10px;
        font-size: large;
        resize: none;
    }
    .index {
        text-align: center;
        color: #221E64;
        align-content: center;
    }
    .user-profile {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 225px;
        height: 55px;
        border-right: 4px solid #221E64;
        border-bottom: 4px solid #221E64;
        background-color: #AEBCF9;
        color: black;
        margin-top: auto;
        margin-bottom: auto;
    }
    .signout {
        display: grid;
        height: 55px;
        width: 55px;
        right: 0;
        background-color: red;
        color: #000000;
        z-index: 101;
        align-items: center;
        justify-content: center;
        font-size: 2.5em;
        text-decoration: none;
        position: fixed;
        border-bottom: 4px solid #221E64;
    }
    .signout:hover {
        background-color: #221E64;
        color: #DCE4FB;
    }
    .content-topbar {
        top: 0;
        right: 55px;
        z-index: 100;
        display: flex;
        width: calc(100% - 225px - 4px - 55px);
        height: 55px;
        color: #7D38D0;
        text-align: center;
        position: fixed;
    }
    .admin-trigger {
        text-decoration: none;
        color: red;
    }
    .admin-trigger:hover {
        color: #221E64;
    }
    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #AC6CE4;
        color: #221E64;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .button:hover {
        background-color: #CEBEDC;
    }
    .content {
        padding-top: 55px;
        padding-left: 225px;
    }
    .item-foro {
        border-top: 1px dashed  ;
    }
}

.view-profile {
    text-decoration: none;
    color: #221E64;
    cursor: pointer;
}
.view-profile:hover {
    color: #7D38D0;
}

#forum-end { /* Texto al final del foro */
    border-top: 1px dashed #CEBEDC;
    text-align: center; 
    padding-top: 55px;
}

#focus-pagina {
    text-align: center; 
    font-size: 4em;
}

strong, b { /* Le dice a las fuentes que se pongan negras */
    font-weight: bold;
}

em, i { /* Le dice a las fuentes que se pongan en it치lica */
    font-style: italic;
}

.ba {
    background-color: #000000;
}
