/* OpenDyslexic (Web Open) */
@font-face { /* Normal */
    font-family: 'open-dyslexic';
    src:    url("../fonts/OpenDyslexic/OpenDyslexic-Regular.woff") format('woff'),
            url("../fonts/OpenDyslexic/OpenDyslexic-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* Itálica */
    font-family: 'open-dyslexic';
    src:    url("../fonts/OpenDyslexic/OpenDyslexic-Italic.woff") format('woff'),
            url("../fonts/OpenDyslexic/OpenDyslexic-Italic.woff2") format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face { /* Negrita */
    font-family: 'open-dyslexic';
    src:    url('../fonts/OpenDyslexic/OpenDyslexic-Bold.woff') format('woff'),
            url('../fonts/OpenDyslexic/OpenDyslexic-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face { /* Negrita-Itálica */
    font-family: 'open-dyslexic';
    src:    url('../fonts/OpenDyslexic/OpenDyslexic-Bold-Italic.woff') format('woff'),
            url('../fonts/OpenDyslexic/OpenDyslexic-Bold-Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

/* eeeeeeeeeeeee */
@font-face {
    font-family: 'sans-comic';
    src:    url('../fonts/Comic\ Sans\ MS.ttf');
}


/* Formato */
.regular {
    font-family: "Roboto", sans-serif;
}
.dyslexic {
    font-family: 'open-dyslexic', "Roboto", sans-serif;
}

body.dark-mode {
    background-color: #7D38D0;
    .left-menu {
        background-color: #211E64;
        height: calc(100% - 55px - 2px);
        width: 15%;
        z-index: 69; /* Nice */
        bottom: 0;
        left: 0;
        border-right: 2px solid #AFBCFA;
        position: fixed;
    }
    .top-menu {
        background-color: #211E64;
        height: 55px;
        width: 100%;
        z-index: 67;
        top: 0;
        left: 0;
        display: flex;
        border-bottom: 2px solid #AFBCFA;
        position: fixed;
    }
    .index {
        text-align: center;
        color: #CEBEDC;
    }
    .user-profile {
        top: 0;
        left: 0;
        z-index: 99;
        width: 15%;
        height: 55px;
        border-right: 2px solid #AFBCFA;
        display: flex;
        background-color: #74749C;
        align-items: center;
        color: #211E64;
    }
    .signout {
        top: 0;
        right: 0;
        height: 55px;
        width: 55px;
        background-color: red;
        color: #000000;
        z-index: 101;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5em;
        a {
            text-decoration: none;
        }
    }
    .signout:hover {
        background-color: #CEBEDC;
    }
    .content-topbar {
        top: 0;
        right: 0;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(81% + 5px);
        height: 55px;
        color: #7D38D0;
        text-align: center;
    }
    .admin-trigger {
        text-decoration: none;
        color: red;
    }
    .admin-trigger:hover {
        color: #CEBEDC;
    }
    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #AC6CE4;
        color: #221E64;
        text-decoration: none;
        border-radius: 5px;
        
    }
    .button:hover {
        background-color: #CEBEDC;
    }
    .content {
        padding-top: 55px;
        padding-left: 15%;
    }
    .item-foro {
        border-top: 1px dashed #CEBEDC;
    }
}

body.light-mode {
    background-color: #DCE4FB;
    .left-menu {
        background-color: #DCE4FB;
        height: calc(100% - 75px);
        width: 15%;
        z-index: 69; /* Nice */
        bottom: 0;
        left: 0;
        border-right: 4px solid #AFBCFA;
        position: fixed;
    }
    .top-menu {
        background-color: #211E64;
        height: 75px;
        width: 100%;
        z-index: 67;
        top: 0;
        left: 0;
        border-bottom: 4px solid #AFBCFA;
        position: fixed;
    }
    .index {
        text-align: center;
        color: #211E64;
    }
    .user-profile {
        top: 0;
        left: 0;
        z-index: 70;
        background-color: #AFBCFA;
    }
    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #AC6CE4;
        color: #221E64;
        text-decoration: none;
        border-radius: 5px;
    }
    .button:hover {
        background-color: #CEBEDC;
    }
    .content {
        padding-top: 75px;
        padding-left: 15%;
        text-align: center;
    }
    .content-topbar {
        top: 0;
        right: 0;
        width: calc(85% - 2px);
        align-items: center;
    }
}
#footer {
    background-color: #211E64;
    border-top: 2px solid #AFBCFA;
    position:absolute;
    bottom: 0;
    right: 0;
    width: calc(85% - 2px);
    height: 100px;
    color: #AFBCFA;
}

strong, b { /* Le dice a las fuentes que se pongan negras */
    font-weight: bold;
}

em, i { /* Le dice a las fuentes que se pongan en itálica */
    font-style: italic;
}

.ba {
    background-color: #000000;
}
