* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px 0 0 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --secondary-color: #9e53b7;
    --primary-color: #420e57;
}

body {
    background: rgb(113, 83, 197) url('../images/dreamy.jpg') center/cover no-repeat fixed;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
}

.login-wrapper {
    position: relative;
    padding: 4rem 1.9rem 1rem 1.5rem;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    color: var(--secondary-color);

}

.login-header {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    transform: translateX(-50%);
    border-radius: 0 0 20px 20px;
    background-color: var(--primary-color);
    color: rgb(197, 164, 225);
    font-size: clamp(1rem, 4vw, 3rem);
}

.login-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50% ;
    background: transparent;
    box-shadow: 15px 0 0 0 var(--primary-color);
}

.login-header::after { 
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50% ;
    background: transparent;
    box-shadow: -15px 0 0 0 var(--primary-color);
}

.login-from {
    display: flex;
    flex-direction: column;
    margin-top: clamp(1.5rem, 5vw, 3rem);
    font-size: clamp(1rem, 3vw, 1rem);
    gap: 2rem;
}

.input-wrapper {
    padding-top: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.input-field {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
    background: transparent;
    color: var(--secondary-color);
}

.label {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    transition: 0.2s;
}

/* lo del cosito username y password*/
.input-field:focus~.label,
.input-field:valid~.label {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 0 10px;
    border-radius: 30px;
    background-color: var(--primary-color);
    color: rgb(196, 153, 153); /*color letras*/
}

.icon {
    position: absolute;
    top: 18px;
    right: 25px;
}

.login-check {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.forgot {
    font-size: clamp(0.7, 2vw, 0.8rem);
}

.input-login {
    width: 100%;
    padding: 0.6rem;
    border: none;
    border-radius: 30px;
    background: #5d4ccb;
    font-size: clamp(1rem, 3vw, 1.3rem);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.input-login:hover {
    background: var(--secondary-color);
}

.register {
    text-align: center;
}

.register a {
    font-weight: 500;
}