{% extends 'base.html' %}
{% load static %}

{% block title %}testPage{% endblock %}

{% block topNavbar %}
<h1>
    
</h1>
{% endblock %}

{% block sumShit %}
<span style="text-align: center;">
<h1>
    Fondo: #CEBEDC
</h1> 
<p>
    Un párrafo, debería ser: <br>
    Color #221E64 <br>
    Centrado. Prueba de acentos: ÁÉÍÓÚÑ <br>
    <b>negrita</b> <br>
    <i>itálica</i> <br>
    <b><i>negrita e itálica</i></b> <br>
</p>
<form method="get" action="">
    <button type="submit" name="dyslexia" value="{% if dyslexia == 'false' %}true{% else %}false{% endif %}">
        {% if dyslexia == 'false' %}Activar accesibilidad{% else %}Desactivar accesibilidad{% endif %}
    </button>
</form> <br>
<form method="get" action="">
    <button type="submit" name="displayMode" value="{% if displayMode == 'light' %}dark{% else %}light{% endif %}">
        {% if displayMode == 'light' %}Modo oscuro{% else %}Modo claro{% endif %}
    </button>
</form>
<!-- IGNORAR -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>
        heya
    </p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p class="button">
        <a href="http://127.0.0.1:8000/ohno/">Te dije que lo haría :D</a>
    </p>
    <!-- FIN DE IGNORAR -->
</span>
{% endblock %}
