{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Incluir en todo archivo HTML -->
        <title>TestPage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Usar siempre para cargar archivos de estilo -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <h1>
            Fondo: #CEBEDC
        </h1> 
        <p>
            Un párrafo, debería ser: <br>
            Color #221E64 <br>
            Centrado. Prueba de acentos: ÁÉÍÓÚÑ <br>
            <b>negrita</b> <br>
            <i>itálica</i> <br>
            <b><i>negrita e itálica</i></b>
        </p>
    </body>
</html> 