{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Incluir en todo archivo HTML -->
        <title>TestPage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Usar siempre para cargar archivos de estilo -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <h1>
            <!-- Prueba, escribir <br> añade un quiebre -->
            Fondo: #CEBEDC<br>
            Header 1: #7D38D0<br>
            Centrado :D<br>
            FINALMENTEEEEEEEEEE
        </h1> 
        <p>
            Un párrafo, debería ser: <br>
            Gris y en centro
        </p>
    </body>
</html> 