{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>BAD APPLE!!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body class="ba">
        <iframe 
            style="position: absolute; left: 17%; top: 2%"
            width="960" 
            height="720" 
            src="https://www.youtube.com/embed/FtutLA63Cp8?autoplay=1" 
            title="【東方】Bad Apple!! ＰＶ【影絵】" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>
    </body>
</html>