{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Title placeholder{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% block head %}{% endblock %}
</head>
<body 
class="
{% if usuario.yanMode %}dyslexic {% else %}regular {% endif %}">

    <div id="left-border"></div>
    <div id="top-border"></div>
    <div class="profile-wrapper">
        <p class="profile">
        {% if usuario.rol == 'adm' %}
            {{ usuario.nombre }} <a href="{% url 'redirectAdmin' %}" class="admin-trigger">ADMIN</a>
        {% elif usuario.rol == 'mod' %}
            {{ usuario.nombre }} <span class="mod-untrigger">MOD</span>
        {% else %}
            {{ usuario.nombre }}
        {% endif %}
        </span>
        <a href="{% url 'perfil' usuario.pk %}" class="profile-trigger">
            {{ usuario.aliasUsuario }}
        </a>
        </p>
    </div>
    <div class="item-left-wrapper">
        <a href="{% url 'foro' %}" class="item-left">
            Foro
        </a>
        <a href="{% url 'crearPub' %}" class="item-left">
            Crear Publicación
        </a>
        <a href="{% url 'FAQ' %}" class="item-left">
            Preguntas Frecuentes
        </a>
    </div>

    </div>

    <div id="sumShit" class="content">
        {% block sumShit %}{% endblock %} <!-- Bloque de contenido -->
    </div>
</body>
</html>