{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>PixADA</title>
    <meta charset="UTF-8"> <!--Añade formato al texto, perfecto para evitar problemas con "ñ" o "á"-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Ajusta la escala de la página con el dispositivo-->

    <!-- Se entiende que buscas con esta sección, nomás no es necesaria, solo sirve como apoyo
    a la hora de aparecer en buscadores de navegador, y no creo que pase de fase de desarrollo,
    pero excelente investigación Maca -->
    <meta name="description" content="foro de equidad de genero" \>
    <meta name="author" content="Los pixis">
    <meta name="Keywords" content="foro, equidad de genero, mujeres, ayuda, apoyo">

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1> FPixADA </h1>
</body>
</html>
