{% extends 'sesionBase.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Inicia Sesión{% endblock %}

{% block navBar %}
<form method="post">
    {% csrf_token %}
    <h2>
        Nombre de Usuario
    </h2>
    <p>
        {% if form.username.errors %}{% for error in form.username.errors %}
        <span class="error">{{ error }}</span>{% endfor %}
        {% endif %}
    </p>
    {% render_field form.username class="form-control input-field" placeholder="Nombre de Usuario" %}

    <h2>
        Contraseña
    </h2>
    <p>
        {% if form.password.errors %}{% for error in form.password.errors %}
        <span class="error">{{ error }}</span>{% endfor %}
        {% endif %}
    </p>
    {% render_field form.password class="form-control input-field" placeholder="Contraseña" %}

    <p style="font-size: x-small;">
        Al iniciar sesión aceptas a nuestros <a href="{% url 'termsConditions' %}">Terminos y Condiciones</a> de uso <br>
        Página en alpha cerrada por IWG400. El logo de PixAda es propiedad del grupo 10 de IWG400-6. <br>
        Recomendamos encarecidamente activar las cookies de tu navegador, <br>de lo contrario el proceso podría verse afectado negativamente
    </p>
    <input type="submit" class="input-field button" value="Iniciar Sesión">
<!--    <p>
        {% for item in form %}{% if form.item.errors %}{% for error in form.item.errors %}
        <span class="error">{{ error }}</span>{% endfor %}{% endif %}{% endfor %}
    </p> No logré hacerle display a los errores-->
</form>
{% endblock %}