{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ nombreUsr }}
{% endblock %}

{% block sumShit %}
    {% if esUsuarioActual %}
    <h2>Perfil de {{ nombreUsr }}</h2>{% else %}
    <h2>Perfil de {{ aliasUsr }}</h2>{% endif %}
    <p>
        {% if esUsuarioActual %}<strong>Alias de Usuario: </strong>{{ aliasUsr }} <br>
        {% endif %}
        <strong>Correo: </strong>{{ perfilUsr.user.correo }} <br>
        <strong>Descripción: </strong>"{{ perfilUsr.description }}" <br>
        {% if perfilUsr.user.rol == 'adm' %}
            <strong>Rol: </strong><span style="color: red;">Administrador</span>
        {% elif perfilUsr.user.rol == 'mod' %}
            <strong>Rol: </strong><span style="color: yellow;">Moderador</span>
        {% else %}{% endif %}
    </p>
    {% if esUsuarioActual %}
    <div style="border-top: 1px dashed #221e64;">
    <form method="post">
        {% csrf_token %}
        <h2>Editar Perfil</h2>
        <p><Strong>Descripción:</Strong></p>
        {% render_field form.description class="form-control body-field" placeholder="Descripción" %}<br>
        <button type="submit" class="button">Guardar</button>
    </form>
    <div>
    {% endif %}
{% endblock %}