{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ nombreUsr }}
{% endblock %}

{% block leftNavbar %}
    <a href="{% url 'foro' %}" class="item-left">Foro</a>
{% endblock %}

{% block sumShit %}
    <h2>Perfil de {{ nombreUsr }}</h2>
    <p>
        <strong>Alias de Usuario: </strong>{{ aliasUsr }} <br>
        <strong>Correo: </strong>{{ usuario.correo }} <br>
        {% if usuario.rol == 'adm' %}
            <strong>Rol: </strong><span style="color: red;">Administrador</span>
        {% elif usuario.rol == 'mod' %}
            <strong>Rol: </strong><span style="color: yellow;">Moderador</span>
        {% else %}{% endif %}
    </p>
    <form method="post">
        {% csrf_token %}
        {% render_field form.description class="form-control body-field" placeholder="Descripción" %}
        {% if statusPerfil %}
            <p style="color: #221e64;">Perfil guardado con éxito</p>
        {% endif %}
        <button type="submit" class="button">Guardar</button>
    </form>
{% endblock %}