{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTO es una prueba</title>
    <link rel="stylesheet" href="{% static 'css/trol.css' %}"> <!-- carpetasssssssssssssss-->
</head>
<body>
    <h1> WELCOME TO MY CRIB</h1><!-- Almuerzo consiguido-->
    <h2> (⋟﹏⋞)(⋟﹏⋞)(⋟﹏⋞)(⋟﹏⋞)(⋟﹏⋞)(⋟﹏⋞)(⋟﹏⋞) </h2>
    <p>put@ el que lee</p> <!--wn. Sé escribir eso sin mirar a la pantalla, en  general puedo escribir a base de memoria muscular-->
    <h3> aprendan excel </h3>
    <p>{{ coin }}</p>
    <input type="text"> <!-- xdd -->
    <input type="number" min="0" max="69"> 
    <a href="{% url 'termsConditions' %}">giasfelfebrehber</a>
    <input type="button" value="ola">
    <input type="button" value="dot">
    <input type="button" value="boom!!!!!!!!!!!!!!!!!!" >
    <p>
        {% if coin == 4 %} 4 
        {% else %} no 4 {% endif %}
    </p>
    {% for numero in lista %}
        <p>{{ numero }}</p>
    {% endfor %}
</body>
<footer>
    The Game <br>
</footer>
</html>