{% extends 'sesionBase.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Registrate{% endblock %}

{% block navBar %}
<form method="post">
    {% csrf_token %}
    <h2>
        Nombre de Usuario
    </h2>
    <p>
        {% if form.nombre.errors %}{% for error in form.nombre.errors %}
        <span class="error">{{ error }}</span>{% endfor %}
        {% else %}El nombre con el cual iniciarás sesión{% endif %}
    </p>
    {% render_field form.nombre class="form-control input-field" placeholder="Nombre" %}

    <h2>
        Alias Público
    </h2>
    <p>
        {% if form.aliasUsuario.errors %}{% for error in form.aliasUsuario.errors %}
        <span class="error">{{ error }}</span>{% endfor %}
        {% else %}La cara pública de tu cuenta{% endif %}
    </p>
    {% render_field form.aliasUsuario class="form-control input-field" placeholder="@...." %}

    <h2>
        Correo Institucional
    </h2>
    <p>
        {% if form.correo.errors %}{% for error in form.correo.errors %}
        <span class="error">{{ error }}</span>{% endfor %}
        {% else %}Nos ayudará a saber que eres parte de nosotros{% endif %}
    </p>
    {% render_field form.correo class="form-con trol input-field" placeholder="Tu correo institucional" %}

    <h2>
        Contraseña
    </h2>
    <p>
        {% if form.contrasena2.errors %}{% for error in form.contrasena2.errors %}
        <span class="error">{{ error }}</span>{% endfor %}
        {% else %}Protege tu contraseña de los de informática con una buena contraseña{% endif %}
    </p>
    {% render_field form.contrasena1 class="form-control input-field" placeholder="Contraseña" %} <br>
    {% render_field form.contrasena2 class="form-control input-field" placeholder="Confirma tu contraseña" %} <br>

    <p style="font-size: x-small;">
        Al crear una cuenta aceptas a nuestros <a href="http://localhost:8000/termycond/">Terminos y Condiciones</a> de uso <br>
        Página en alpha cerrada por IWG400. El logo de PixAda es propiedad del grupo 10 de IWG400-6. <br>
        Recomendamos encarecidamente activar las cookies de tu navegador, <br>de lo contrario el proceso podría verse afectado negativamente
    </p>
    <button type="submit" class="input-field">Crear cuenta</button>
</form>
{% endblock %}