/* OpenDyslexic (Web Open) */
@font-face { /* Normal */
    font-family: 'open-dyslexic';
    src:    url("../fonts/OpenDyslexic/OpenDyslexic-Regular.woff") format('woff'),
            url("../fonts/OpenDyslexic/OpenDyslexic-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* Itálica */
    font-family: 'open-dyslexic';
    src:    url("../fonts/OpenDyslexic/OpenDyslexic-Italic.woff") format('woff'),
            url("../fonts/OpenDyslexic/OpenDyslexic-Italic.woff2") format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face { /* Negrita */
    font-family: 'open-dyslexic';
    src:    url('../fonts/OpenDyslexic/OpenDyslexic-Bold.woff') format('woff'),
            url('../fonts/OpenDyslexic/OpenDyslexic-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face { /* Negrita-Itálica */
    font-family: 'open-dyslexic';
    src:    url('../fonts/OpenDyslexic/OpenDyslexic-Bold-Italic.woff') format('woff'),
            url('../fonts/OpenDyslexic/OpenDyslexic-Bold-Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

/* eeeeeeeeeeeee */
@font-face {
    font-family: 'sans-comic';
    src:    url('../fonts/Comic\ Sans\ MS.ttf');
}


/* Formato */
.regular {
    font-family: "Roboto", sans-serif;
}
.dyslexic {
    font-family: 'open-dyslexic', "Roboto", sans-serif;
    font-size: 0.85em;
}

.indexList-wrapper {
    text-align: left;
    padding-left: 300px;
}

body {
    background-color: #DCE4FB;
}

.logo-wrapper {
    width: 175px;
    height: 75px;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-image: url(../images/logoPIXADA.png);
    background-size: contain;
}
.logo-index {
    display: flex;
    width: 100%;
    height: 100%;
    
}

.logout-wrapper {
    right: 20px;
    top: 0;
    width: fit-content;
    height: 75px;
    position: fixed;
    align-content: center;
    z-index: 200;
}
.logout {
    background-color: red;
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
    padding: 8px 8px;
    display: flex;
    justify-content: center;
}
.logout:hover {
    background-color: #221E64;
    color: white;
}

#toEntry {
    color: #7D38D0;
    text-decoration: none;
}
#toEntry:hover {
    color: #93b3fa;
}


.profile-wrapper {
    width: 200px;
    height: 100px;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 101.5px;
    text-align: center;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;

}
.profile { /* Sección de perfil a la izquierda */
    color: #000000;
    font-size: 1em;
}
.profile-trigger { /* Controla el botón para ir al perfil de la pe */
    text-decoration: none;
    color: #000000;
}
.profile-trigger:hover {
    color: #c96fe9;
}

.admin-trigger {
    text-decoration: none;
    color: red;
}
.admin-trigger:hover {
    color: #221E64;
}
.mod-untrigger {
    color: yellow;
}

.item-left-wrapper {
    position: fixed;
    background-color: #ffffff;
    z-index: 100;
    width: 200px; /*linea largo*/
    height: 102px;
    top: 205.5px;  /*eje y*/
    border-radius: 0px 30px 0px 30px;
    background: transparent;

}
.item-left {
    width: 100%;
    height: 50px;
    display: flex;
    border-bottom: #7D38D0 2px solid;
    text-decoration: none;
    align-items: center;
    left: 2%; /* Align y axis */
     /* Align x axis */
    /* only for flex or flexbox items */
}
.item-left:hover {
    background-color: #7D38D0;
    border-radius: 0px 30px 0px 30px;
    background: transparent;
    color: black;
    justify-content: center;
    font-size: clamp(1rem, 3vw, 1.3rem);
    transition: 0.3s;

}

#topico {
    padding: 4px 8px 4px 8px;
    background-color: #AC6CE4;
    color: #000000;
    border-radius: 5px;
    width: fit-content;
}

body {
    .top-menu {
        background-color: #c96fe9;
        height: 55px;
        width: calc(100% - 225px - 4px - 55px);
        /* Largo de la pantalla - width del menu izquierdo - borde izquierdo - el botón de signout */
        z-index: 67;
        top: 0;
        right: 55px;
        display: flex;
        border-bottom: 4px solid #221E64;
        position: fixed;
    }
    .title-field {
        background-color: #93b3fa;
        font-family: 'Roboto', sans-serif;
        color: #221E64;
        display: block;
        left: auto;
        width: 50%;
        height: 25px;
        border-radius: 10px;
        font-size: large;
    }
    .body-field {
        background-color: #93b3fa;
        font-family: 'Roboto', sans-serif;
        color: #221E64;
        display: block;
        left: auto;
        right: auto;
        width: 75%;
        height: 100px;
        text-align: start;
        border-radius: 10px;
        font-size: large;
        resize: none;
    }
    .index {
        text-align: center;
        color: #221E64;
        align-content: center;
    }
    .user-profile {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 225px;
        height: 55px;
        border-right: 4px solid #221E64;
        border-bottom: 4px solid #221E64;
        background-color: #AEBCF9;
        color: black;
        margin-top: auto;
        margin-bottom: auto;
    }
    .signout {
        display: grid;
        height: 55px;
        width: 55px;
        right: 0;
        background-color: red;
        color: #000000;
        z-index: 101;
        align-items: center;
        justify-content: center;
        font-size: 2.5em;
        text-decoration: none;
        position: fixed;
        border-bottom: 4px solid #221E64;
    }
    .signout:hover {
        background-color: #221E64;
        color: #DCE4FB;
    }
    .content-topbar {
        top: 0;
        right: 55px;
        z-index: 100;
        display: flex;
        width: calc(100% - 225px - 4px - 55px);
        height: 55px;
        color: #7D38D0;
        text-align: center;
        position: fixed;
    }
    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #93b3fa;
        color: #221E64;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .button:hover {
        background-color: #221E64;
        color: white;
    }
    .content {
        padding-top: 55px;
        padding-left: 225px;
    }
    .item-foro {
        border-top: 1px dashed  ;
    }
}

.post-body {
    font-size: 1.5em;
}

.view-profile {
    text-decoration: none;
    color: #221E64;
    cursor: pointer;
}
.view-profile:hover {
    color: #7D38D0;
}

#forum-end { /* Texto al final del foro */
    border-top: 1px dashed #000000;
    text-align: center; 
    padding-top: 55px;
}

#focus-pagina {
    text-align: center; 
    font-size: 4em;
}

strong, b { /* Le dice a las fuentes que se pongan negras */
    font-weight: bold;
}
em, i { /* Le dice a las fuentes que se pongan en itálica */
    font-style: italic;
}

.ba {
    background-color: #000000;
}

#tyc-h1 {
    text-align: center;
}

#left-border {
    position: fixed;
    z-index:0;
    width: 208px;
    height: calc(100% - 75px);
    background-color: #93b3fa;
    border-radius: 30px 30px 30px 30px;
    left: 0;
    bottom: 10px;
}

#top-border {
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    background-color: #93B3FA;
    left: 0;
    border-bottom: #000000 1px solid;
}







#topicos-box {
    position: fixed;
    top: 390px; /* debajo del FAQ */
    left: 0;
    width: 175px;
    background-color: #AEBCF9;
    border-radius: 0 30px 30px 0;
    padding: 10px;
    border-right: 4px solid #221E64;
    z-index: 90;
}

.topicos-title {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #221E64;
}

.topic-option {
    display: block;
    padding: 8px 10px;
    border-bottom: 2px solid #7D38D0;
    cursor: pointer;
}

.topic-option:hover {
    background-color: #c96fe9;
    border-radius: 0 30px 30px 0;
}

.topic-option input {
    margin-right: 6px;
}
